.popup__save {
    border: none;
    border-radius: 2px;
    width: 358px;
    height: 50px;
    background-color: black;
    align-self: center;
    margin-top: 48px;
    padding: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
}

.popup__save:hover {
    opacity: 0.8;
}

@media screen and (min-width: 300px) and (max-width: 740px) {
    .popup__save {
        width: 238px;
        max-height: 46px;
        font-size: 14px;
        line-height: 1.21;
    }
}