.popup__close {
    border: none;
    width: 40px;
    height: 40px;
    background: transparent url(../../../images/Close\ Icon.svg) center;
    background-size: 40px 40px;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
}

@media screen and (min-width: 300px) and (max-width: 740px) {
    .popup__close {
        right: 0;
        width: 26px;
        height: 26px;
        
    }
    
}