.profile__avatar {
    max-width: 168px;
    max-height: 168px;
    border-radius: 50%;
    margin-right: 30px;
}

@media screen and (min-width: 300px) and (max-width: 770px) {
    .profile__avatar {
        margin: 0;
}
}