.element__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 21px;
    max-height: 79px;
    align-self: center;
}